<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>教师首页</title>

    <link rel="stylesheet" href="/static/css/base.css" type="text/css"/>

</head>

<body bgcolor="#32435d">
<div id="content">

    <#include "/teacher/left.html" />

    <div class="c-c">
        <form action="projectUpdate" method="post" >
            <input type="text" name="project_id" value="${project.project_id}"/>
            <input type="text" name="type" value="${project.type}"/>
            <input type="text" name="name" value="${project.name}"/>
            <input type="text" name="unit" value="${project.unit}"/>
            <input type="text" name="teacher" value="${project.teacher}"/>
            <input type="text" name="phone" value="${project.phone}"/>
            <input type="text" name="apply_date" value="${project.apply_date}"/>
            <input type="text" name="apply_money" value="${project.apply_money}"/>
            <input type="text" name="start_date" value="${project.start_date}"/>
            <input type="text" name="end_date" value="${project.end_date}"/>
            <input type="text" name="college_check_state" value="${project.college_check_state}"/>
            <input type="text" name="school_check_state" value="${project.school_check_state}"/>
            <input type="text" name="state" value="${project.state}"/>
            <input type="submit"/>
        </form>

    </div>
    <div class="c-r"></div>
</div>
<div style="clear: both;"></div>
<div id="footer"></div>
</body>
</html>
