<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>教师首页</title>

    <link rel="stylesheet" href="/static/css/base.css" type="text/css"/>

</head>

<body bgcolor="#32435d">
<div id="content">

    <#include "/teacher/left.html" />

    <div class="c-c">

        <a href="addProject">新增</a>
        <table class="table table-bordered table-hover table-condensed table-striped">
            <tr>

                <th>id</th>
                <th>项目名称</th>
                <th>申报人</th>

                <th>院审核状态</th>
                <th>校审核状态</th>
                <th>项目状态</th>
                <th>操作</th>
            </tr>
            <#list projects as project>
                <tr>
                <tr>
                    <td>${project.project_id}</td>
                    <td>${project.name}</td>
                    <td>${project.teacher.realname}</td>


                    <th>${project.college_check_state}</th>
                    <th>${project.school_check_state}</th>
                    <th>${project.state}</th>
                    <td>
                        <a href="updateProject?id=${project.project_id}">修改</a>
                        <a href="deleteProject?id=${project.project_id}">删除</a>
                        <a href="viewProject?id=${project.project_id}">查看详情</a>
                    </td>
                </tr>
            </#list>
        </table>
    </div>
    <div class="c-r"></div>
</div>
<div style="clear: both;"></div>
<div id="footer"></div>
</body>
</html>

